<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{pageTitle}}</title>
     <link rel="stylesheet" href="/css/shop.css">
        <link rel="stylesheet" href="/css/add-pooduct.css">


</head>
<body>
    <header class="main-header">
        <nav class="main-nav">
            <ul>
              <li><a class="main-list_item" href="/">Shop</a></li>
              <li><a class="main-list_item" href="/admin/add-product">Add Product</a></li>
            </ul>
        </nav>
      </header>  
    <h1>Something went wrong! page not Found

    </h1>
    <p>Error status 404</p>
</body>
</html>