<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{pageTitle}}</title>
   <link rel="stylesheet" href="/css/add-pooduct.css">
</head>
<body>
  <header class="main-header">
    <nav class="main-nav">
        <ul>
          <li><a class="main-list_item" href="/">Shop</a></li>
          <li><a class="main-list_item active" href="/admin/add-product">Add Product</a></li>
        </ul>
    </nav>
  </header>  

  <main>
    <form action="/" method="POST">
        <input type="text"name="title">
        <button type="submit">Add Product</button>
    </form>
  </main>
</body>
</html>
